
<div class='wrapper centerDiv'>
    <h1 class="centerDiv"><b>About Us</b></h1>
    <br>
    <h2><u>Purpose of this Site</u></h2>
    <p>This site is here to bring clarity and conflict within the comic book, anime, Sci-Fi and many other nerdy realms and fan-bases. <br>
        We are here to ask the question "Who Would win?" between a total of 731 superheroes and villains, plus other charaters from said sources!</p>
    <br>
    <h2><u>Developers</u></h2>
    <h4>Logan Chaves</h4>
    <h6><b>GitHub Master</b></h6>
    <h4>Xzavier Dunn</h4>
    <h6><b>Database Leader</b></h6>
    <h4>Joshua D. Serie</h4>
    <h6><b>"Simulations" Manager</b></h6>
    <br>
    <h2><u>Source Data & How Simulations Work</u></h2>
    <h4><b>Data Source:</b> https://superheroapi.com/</h4>
    <h4><b>Simulation Factors:</b></h4>
    <h5>We compare each fighter by 6 different stats: Speed, Combat Ability, Intellegence, Durability, Avalible Powers, and Strength.<br>
    For fairness sake, the stat numbers range only between 0 and 100. Whomever is stronger in any given stat, obtains a point.<br>
    After all comparisons, the fighter with the most points wins! If the points end in a tie, the overall stats' numbers are added in total for to server as a tie-breaker.</h5>
</div>
