
<div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm"></div>
            <div class="centerDiv">
                <h1><b>Argument Resolved</b></h1>
                <h2>Who would win?</h2>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

    <div class="container mt-2">
        <div class="row">
            <div class="col-3"></div>
            <div class="centerDiv">
                <h3>Description</h3>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-8">
                <div>
                    <div>
                        <h3>user recents if logged in or random fights</h3>
                        <div *ngIf='loggedIn'>
                            recentFights()
                        </div>
                        <p *ngIf='!loggedIn'>
                            else randomFights()
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <h2>Recent Fights:</h2>
                    <h4><app-recent-battles></app-recent-battles></h4>
                </div>
            </div>
        </div>
    </div>

    
<div class="container fixed-bottom mb-2">
  <div class="row">
    <div class="col-12 mt-4">
      <button class="btn btn-primary nerdFight" routerLink="/battle">Fight!</button>
    </div>
  </div>
</div>

</div>
