
<div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm"></div>
            <div class="centerDiv">
                <h1><b>Argument Resolved</b></h1>
                <h2>Who would win?</h2>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
    <br>
<!-- 
    <div class="container mt-2">
        <div class="row">
            <div class="col-3"></div>
            <div class="centerDiv">
                <h3>Description</h3>
            </div>
            <div class="col-3"></div>
        </div>
    </div> -->

    <div class="container mt-5">
        <div class="row">
            <div class="col-8">
                <div>
                    <div>
                        <h4>Have you ever wondered, or <br>even argued about what hero, villian, <br>or even anti-hero, would win in a fight?<br>We are here to answer that question, as <br>well as stir up heated "nerd" debates!</h4>
                        <!-- <div *ngIf='loggedIn'>
                            recentFights()
                        </div> -->
                        <!-- <p *ngIf='!loggedIn'>
                            else randomFights()
                        </p> -->
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <h4>We boast 731 fighters to choose from! As well as use these stats for each:<br><br><b>Strength</b><br><b>Super Powers</b><br><b>Durability</b><br><b>Intellegence</b><br><b>Combat Abilities</b><br><b>Speed</b></h4>
                    <!-- <h4><app-recent-battles></app-recent-battles></h4> -->
                </div>
            </div>
        </div>
    </div>

    
<div class="container fixed-bottom mb-2">
  <div class="row">
    <div class="col-12 mt-4">
      <button class="btn btn-primary nerdFight" routerLink="/battle">Fight!</button>
    </div>
  </div>
</div>

</div>
