.centerDiv {
    text-align: center;
}

.border {
    border: 2px solid black;
}

.btnCenter {
    float: center;
}

.lineUp {
    text-align: center;
    display: inline
}

.calc{
    margin-left:60%;
    margin-right:40%
}