<div class="container mt-4">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <h1 class='centerDiv'>Battle!</h1>
    </div>
    <div class="col-sm"></div>
  </div>
</div>

<br>
<br>
<br>
<form (ngSubmit)='onSubmit()' [formGroup]='_fighters'>
  <div class='container'>
    <div class="row">
      <div class='col-6 centerDiv'>
        <textarea placeholder="Fighter 1 ID #1 - #731" name="p1" formControlName="fighter1" cols="25"rows="1"></textarea>
      </div>

      <div class="col-6 centerDiv">
        <textarea placeholder="Fighter 2 ID #1 - #731" name="p2" formControlName="fighter2" cols="25" rows="1"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="centerDiv">
          <button type='submit'>Simulate Fight!</button>
        </div>
      </div>
      <div class="col-4"></div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4 centerDiv">
          <h1>{{calc}}</h1>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
  </div>
</form>

    <div class="col-3"></div>
    <br>
    <br>
    <br>
    <div class="col-3"></div>    
<br>
<br>
<br>
<div class="centerDiv">
  <button><a href="https://superheroapi.com/ids.html" target="_blank">Fighter ID Reference</a></button>
</div>


